@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.icon.icon-link {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: -24px;
  opacity: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.5858 4.58592C12.7703 4.3949 12.991 4.24254 13.235 4.13772C13.479 4.0329 13.7415 3.97773 14.007 3.97542C14.2726 3.97311 14.536 4.02371 14.7817 4.12428C15.0275 4.22484 15.2508 4.37334 15.4386 4.56113C15.6264 4.74892 15.7749 4.97222 15.8755 5.21801C15.976 5.4638 16.0266 5.72716 16.0243 5.99272C16.022 6.25828 15.9669 6.52072 15.862 6.76473C15.7572 7.00874 15.6049 7.22943 15.4138 7.41392L12.4138 10.4139C12.0388 10.7889 11.5302 10.9995 10.9998 10.9995C10.4695 10.9995 9.96089 10.7889 9.58584 10.4139C9.39723 10.2318 9.14463 10.131 8.88244 10.1332C8.62024 10.1355 8.36943 10.2407 8.18402 10.4261C7.99861 10.6115 7.89344 10.8623 7.89116 11.1245C7.88888 11.3867 7.98968 11.6393 8.17184 11.8279C8.92195 12.5778 9.93918 12.9991 10.9998 12.9991C12.0605 12.9991 13.0777 12.5778 13.8278 11.8279L16.8278 8.82792C17.5565 8.07351 17.9596 7.0631 17.9505 6.01431C17.9414 4.96553 17.5207 3.96228 16.7791 3.22065C16.0375 2.47901 15.0342 2.05834 13.9854 2.04922C12.9367 2.04011 11.9262 2.44329 11.1718 3.17192L9.67184 4.67192C9.57633 4.76417 9.50014 4.87451 9.44774 4.99652C9.39533 5.11852 9.36774 5.24974 9.36659 5.38252C9.36543 5.5153 9.39073 5.64698 9.44101 5.76987C9.4913 5.89277 9.56555 6.00442 9.65944 6.09831C9.75333 6.19221 9.86499 6.26646 9.98788 6.31674C10.1108 6.36702 10.2425 6.39232 10.3752 6.39117C10.508 6.39002 10.6392 6.36243 10.7612 6.31002C10.8832 6.25761 10.9936 6.18143 11.0858 6.08592L12.5858 4.58592V4.58592ZM7.58584 9.58592C7.96089 9.21098 8.46951 9.00035 8.99984 9.00035C9.53016 9.00035 10.0388 9.21098 10.4138 9.58592C10.5061 9.68143 10.6164 9.75761 10.7384 9.81002C10.8604 9.86243 10.9917 9.89002 11.1244 9.89117C11.2572 9.89232 11.3889 9.86702 11.5118 9.81674C11.6347 9.76646 11.7463 9.69221 11.8402 9.59832C11.9341 9.50442 12.0084 9.39277 12.0587 9.26987C12.1089 9.14698 12.1342 9.0153 12.1331 8.88252C12.1319 8.74974 12.1043 8.61852 12.0519 8.49652C11.9995 8.37451 11.9233 8.26417 11.8278 8.17192C11.0777 7.42204 10.0605 7.00077 8.99984 7.00077C7.93918 7.00077 6.92195 7.42204 6.17184 8.17192L3.17184 11.1719C2.7898 11.5409 2.48507 11.9823 2.27543 12.4703C2.06579 12.9583 1.95545 13.4832 1.95083 14.0143C1.94622 14.5454 2.04743 15.0722 2.24855 15.5637C2.44967 16.0553 2.74669 16.5019 3.12226 16.8775C3.49783 17.2531 3.94444 17.5501 4.43602 17.7512C4.92761 17.9523 5.45432 18.0535 5.98544 18.0489C6.51656 18.0443 7.04144 17.934 7.52945 17.7243C8.01747 17.5147 8.45885 17.21 8.82784 16.8279L10.3278 15.3279C10.4233 15.2357 10.4995 15.1253 10.5519 15.0033C10.6043 14.8813 10.6319 14.7501 10.6331 14.6173C10.6342 14.4845 10.6089 14.3529 10.5587 14.23C10.5084 14.1071 10.4341 13.9954 10.3402 13.9015C10.2463 13.8076 10.1347 13.7334 10.0118 13.6831C9.88889 13.6328 9.75721 13.6075 9.62443 13.6087C9.49166 13.6098 9.36044 13.6374 9.23843 13.6898C9.11643 13.7422 9.00608 13.8184 8.91384 13.9139L7.41384 15.4139C7.22934 15.6049 7.00865 15.7573 6.76465 15.8621C6.52064 15.9669 6.2582 16.0221 5.99264 16.0244C5.72708 16.0267 5.46372 15.9761 5.21793 15.8756C4.97214 15.775 4.74883 15.6265 4.56105 15.4387C4.37326 15.2509 4.22475 15.0276 4.12419 14.7818C4.02363 14.536 3.97303 14.2727 3.97534 14.0071C3.97764 13.7416 4.03282 13.4791 4.13763 13.2351C4.24245 12.9911 4.39482 12.7704 4.58584 12.5859L7.58584 9.58592Z' fill='%236B7280'/%3E%3C/svg%3E");
}

h1:hover > a .icon.icon-link {
  opacity: 1;
}

h2:hover > a .icon.icon-link {
  opacity: 1;
}

h3:hover > a .icon.icon-link {
  opacity: 1;
}

h4:hover > a .icon.icon-link {
  opacity: 1;
}
